@model Project.Models.Flight

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit Flights</title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" rel="nofollow" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">

    <style>


        @*div {
            text-align: center;
        }*@
        .center {
            margin-left: auto;
            margin-right: auto;
        }

        @*td {
            text-align: center;
            vertical-align: middle;
        }*@
    </style>
</head>

<body>
    @if (ViewBag.flight_num == -1)
    {
        ViewBag.flight_num = "";
    }

    <center>
        <h1>Edit Flights</h1>
    </center>
    <div>
        @using (Html.BeginForm("EditFlight", "Home", FormMethod.Post))

        {
            <table class="center">
                <tr>
                    <td><strong>Flight Number:</strong></td>
                    @*<td> @Html.TextBoxFor(flight => flight.flight_num) @Html.ValidationMessageFor(flight => flight.flight_num)</td>*@
                    <td>
                        <input type="number" value="@ViewBag.flight_num" name="flight_num" id="flight_num" />
                    </td>
                </tr>
                <tr>
                    <td><strong>Price:</strong></td>
                    <td>
                        <input type="text" value="" name="price" id="price" />
                    </td>
                </tr>
                <tr>
                    <td><strong>Destination Country:</strong></td>
                    <td>
                        <input type="text" value="" name="dest_country" id="dest_country" />
                    </td>
                </tr>
                <tr>
                    <td><strong>Origin Country:</strong></td>
                    <td>
                        <input type="text" value="" name="or_country" id="or_country" />
                    </td>
                </tr>
                <tr>
                    <td><strong>Date and Time:</strong></td>
                    <td>
                        <input textmode="DateTime" type="text" value="" name="Date" id="Date" class="hasDatepicker" />
                    </td>
                </tr>
                <tr>
                    <td><strong>Number of Seats:</strong></td>
                    <td>
                        <input type="number" value="" name="seats_num" id="seats_num" />
                    </td>
                </tr>
            </table>

            <br />

            <center>
                <input id="EditFlight" type="submit" value="Edit Flight" />
            </center>


        }
    </div>

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
        </script>
    }

</body>
</html>
