@model Project.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" rel="nofollow" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">

    <style>
        body {
            background-image: url('../../images/plane_background.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-position: center;
        }

        div {
            background: rgb(255, 255, 255, 0.3)
            /*background: rgb(0, 0, 0, 0.1)*/
        }
    </style>

</head>
<body>
    <div>
        <center>
            <h1>Home</h1>
                <table>
                    <tr>
                        <td>&emsp;</td>
                        <td><a href="/Home/Login"><h2>Login</h2></a></td>
                        <td>&emsp;</td>
                        <td><a href="/Home/Register"><h2>Register</h2></a></td>
                        <td>&emsp;</td>
                    </tr>
                </table>
            </center>
    </div>
</body>
</html>
