@model Project.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <center>
            <h1>Home</h1>
                <table>
                    <tr>
                        <td>&emsp;</td>
                        <td><a href="/Home/Login"><h2>Login</h2></a></td>
                        <td>&emsp;</td>
                        <td><a href="/Home/Register"><h2>Register</h2></a></td>
                        <td>&emsp;</td>
                    </tr>
                </table>
            </center>
    </div>
</body>
</html>
