@model Project.Models.Flight

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search Flights</title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" rel="nofollow" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">

    <style>
        @*div {
            text-align: center;
        }*@

        .center {
            margin-left: auto;
            margin-right: auto;
        }

        @*td {
            text-align: center;
            vertical-align: middle;
        }*@
    </style>
</head>

<body>
    <center>
        <h1>Search Flights</h1>
    </center>
    <div>
        @using (Html.BeginForm("SearchFlight", "Home", FormMethod.Post))

        {
            <table class="center">
                <tr>
                    <td><strong>Price:</strong></td>
                    <td>
                        <input textmode="Price" type="text" name="Price" id="Price" />
                    </td>
                </tr>
                <tr>
                    <td><strong>Destination Country:</strong></td>
                    <td>
                        <input textmode="D_C" type="text" name="D_C" id="D_C" />
                    </td>
                </tr>
                <tr>
                    <td><strong>Origin Country:</strong></td>
                    <td>
                        <input textmode="O_C" type="text" name="O_C" id="O_C" />
                    </td>
                </tr>
                <tr>
                    <td><strong>Date and Time:</strong></td>
                    <td>
                        <input textmode="DateTime" type="text" name="Date" id="Date" class="hasDatepicker" />
                    </td>

            </table>

            <br />

            <center>
                <input id="SearchFlight" type="submit" value="Search Flight" />
            </center>
            <div>
                @if (ViewBag.Message != null)
                {
                    <script type="text/javascript">
                    window.onload = function ()
                    {
                        alert("@ViewBag.Message");
                    };
                    </script>
                }
            </div>
            
        }
    </div>
</body>
</html>
