@model IEnumerable<Project.Models.Ticket>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>mytickets</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" rel="nofollow" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">

    <style>
        tr:nth-child(even) {
            background-color: #dfebf6;
        }

        /*td {*/
            /*text-align: center;*/
            /*padding-left: 50px;
            padding-right: 50px;
            width: 50%;
        }*/
        tr, td {
            text-align: center;
        }
    </style>

</head>
<body>

    <center>
        <h1>My Tickets</h1>

        <table class="table" border="0">
            <tr style="background-color: #669dd2">
                <th>
                    @*@Html.DisplayNameFor(model => model.flight_num)*@
                    <text style="color:white">Flight Number</text>
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.num_of_tickets)*@
                    <text style="color:white">Number of Tickets</text>
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.flight_num)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.num_of_tickets)
                    </td>
                </tr>
            }

        </table>

    </center>
</body>
</html>
